h1{
    color:orange;
}

h2{
    color: rgb(0,0,0);

    /* h--degree for colors, saturation, lightness */
    color: hsl(300,100%,75%);

    /* like rgb and rgba, we can give hsl and hsla */
    color: hsla(260,100%,40%,.4);

    /* some browsers are not supported hsl,rgba, so for
     safety purpose we want to give 2nd option like rgb */
    background-color: rgb(180,115,95);

    /* for transparency or opacity */
    /* we can give 4th value to rgb from 0 to 1 decimal values */
    /* less opacity more transparent, more opacity less transparent */
    background-color: rgba(55,150,125,0.5);
    background-color: rgba(255,0,0,.2);




}